<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Fact!</title>
</head>
<body>
    <h1><%= factData.fact %></h1>

    <a href ="/facts">Get Another Cat Fact</a>
</body>
</html>